.menu {
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      background-color: rgba($color: $grey, $alpha: 0.95);
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: toRem(90) toRem(15) toRem(30) toRem(15);
      transition: left 0.3s;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: toRem(75);
        left: -100%;
        top: 0;
        transition: left 0.3s;
        z-index: 3;
        background-color: $grey;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
    @media (max-width: $mobileSmall) {
      padding-top: toRem(70);
      &::before {
        height: toRem(55);
      }
    }
  }
  // .menu__list
  &__list {
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: start;
      row-gap: toRem(12);
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    @media (max-width: $mobile) {
      font-size: toRem(28);
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
  @media (max-width: toEm(340)) {
    width: toRem(20);
    height: toRem(15);
  }
}
